﻿<div class="row" id="Page_JoinLobby" style="display: none;">
    <div class="col-lg-12 col-sm-12" style="text-align: center;">
        <h3>Join existing Lobby</h3>

        <form class="form-inline" id="JoinLobby_Form">
            <div class="form-group">
                <label for="JoinLobby_Name">Name</label>
                <input type="text" class="form-control" id="JoinLobby_Name" placeholder="Name">
            </div><br />
            <div class="form-group">
                <label for="JoinLobby_Code">Lobby Code</label>
                <input type="text" class="form-control" id="JoinLobby_Code" placeholder="Lobby Code">
            </div><br/>
            <div class="checkbox">
                <input type="checkbox" id="JoinLobby_Spectator"/>
                <label for="JoinLobby_Spectator">Spectator</label>
            </div>
            <div class="form-group" style="display: block; margin-top: 10px;">
                <button type="submit" class="btn btn-default">Join Lobby</button>
                <input type="button" class="btn btn-default" value="Back" id="JoinLobby_Back" /><br />
                <span id="JoinLobby_Error" style="display: none; margin-top: 5px; font-style: italic; ">My Error Code!</span>
            </div>
        </form>
    </div>
</div>