﻿<div class="row" id="Page_Lobby" style="display: none;">
    <div class="col-lg-12 col-sm-12" style="text-align: center;">
        <h3>Lobby</h3>
        <p>
            <b>Lobby Code: <span id="Lobby_LobbyCode"></span></b>
        </p>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5 col-sm-2 col-sm-offset-5">
                <table id="Lobby_PlayerList" class="table table-striped table-bordered" style="text-align: left;"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="Lobby_SpectatorCount" style="display: none;">
                
            </div>
        </div>
        <div class="row">
            <input type="button" class="btn btn-default" value="Back" id="Lobby_Back" />
            <input type="button" class="btn btn-default" value="Start Game" id="Lobby_StartGame" />
        </div>

    </div>
</div>