﻿<div class="row" id="Page_NewLobby" style="display: none;">
    <div class="col-lg-12 col-sm-12" style="text-align: center;">
        <h3>Create new Lobby</h3>
        <form class="form-inline" id="NewLobby_Form">
            <div>
                <div class="form-group">
                    <label for="NewLobby_Name">Name</label>
                    <input type="text" class="form-control" id="NewLobby_Name" placeholder="Name">
                </div>
            </div>
            <div class="checkbox">
                <input name="allowSpectators" type="checkbox" id="NewLobby_AllowSpectators"/>
                <label for="NewLobby_AllowSpectators">Allow Spectators</label>
            </div>
            <div class="form-group" style="display: block; margin-top: 10px;">
                <button type="submit" class="btn btn-default">Create Lobby</button>
                <input type="button" class="btn btn-default" value="Back" id="NewLobby_Back"/>
            </div>
        </form>
    </div>
</div>