<div class="row" id="Page_Welcome">
    <div class="col-lg-12 col-sm-12" style="text-align: center;">
        <h3>Welcome to<br />Cards Aagainst Humanity!</h3>
        <input type="button" class="btn btn-default" value="Create new Lobby" style="margin-top: 10px;" id="Welcome_NewLobby" /><br />
        <input type="button" class="btn btn-default" value="Join existing Lobby" style="margin-top: 10px;" id="Welcome_JoinLobby" />
        <div id="Welcome_Connection" style="margin-top: 10px; color: lightgray;"></div>
    </div>
</div>