﻿<div id="Page_Answers" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <h3>Question:</h3>
            <b><span id="Answers_Question"></span></b>
        </div>
    </div>
    <hr style="margin-bottom: 0;" />
    <div class="row" id="Answers_Single">
        <div class="col-lg-12">
            <h3>Your answers:</h3>
            <div id="Answers_SingleAnswersArea"></div>
            <input type="button" class="btn btn-default" value="Send answer" id="Answers_SingleSend" style="margin-top: 25px;"/>
        </div>
    </div>
    <div class="row" id="Answers_MultipleAnswers">
        
    </div>
</div>