﻿<div id="Page_Question" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <h3>Question:</h3>
            <b><span id="Question_CurrentQuestion"></span></b>
        </div>
    </div>
    <hr style="margin-bottom: 0;" />
    <div class="row">
        <div class="col-lg-12">
            <h3>Answers:</h3>
            <ul id="Question_AnswerListClue"></ul>
            <div id="Question_AnswerList"></div>
            <input type="button" class="btn btn-default" value="Best answer" id="Question_Best" style="margin-top: 25px; display: none;" />
        </div>
    </div>
</div>