﻿<div id="Page_Spectator" style="display: none;">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Question:</h3>
                    <b><span id="Spectator_CurrentQuestion"></span></b>
                </div>
            </div>
            <hr style="margin-bottom: 0;" />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Answers:</h3>
                    <ul id="Spectator_AnswerList"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>Scores:</h3>
            <table id="Spectator_ScoreList" class="table table-striped table-bordered" style="text-align: left;"></table>
        </div>
    </div>
</div>